@font-face {
    font-family: glacier;
    src: url(./items/glacial.otf);
}

main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./items/pexels-abdullah-ghatasheh-1631677.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: auto;
    font-family: glacier;
    overflow: auto;
}

.pageHead {
    align-self: center;
    justify-self: center;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
}

.searchContainer {
    margin-left: 3rem;
    font-size: 1.3rem;
}

#weatherSearch {
    height: 1.3rem;
    border-radius: 8px;
    border: 2px solid black;
}

#weatherBtn{
    background-color: black;
    color: white;
    height: 1.7rem;
    border: 2px solid black;
    border-radius: 8px;

}


#weatherGrid {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border: 2px solid black;
    margin-top: 4rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.gridHead{
    grid-column: 1 / span 7;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.weatherCell{
    font-size: 1.3rem;
}

.todaysWeather{
    color: white;
    display: grid;
}
#todaysWeatherStatement{
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .6);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
.poweredBy {
    font-size: 1rem;
    color: white;
    align-self: bottom;
}

.poweredImg{
    height: 2rem;
    align-self: bottom;
}

@media only screen and (max-width: 750px) {
    
    #weatherGrid {
        grid-template-columns: 1fr;
    }
    .gridHead{
        grid-column: 1/ span 1;
    }
    .weatherCell{
        border-bottom: 2px solid rgb(0, 0, 0);
    }

}